# SQL Task

In [1]:
# Importing the required libraries

import sqlite3
import pandas as pd

In [2]:
# Read the code below and write your observation in the next cell

conn = sqlite3.connect('database.sqlite')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cursor.fetchall())

cursor.execute("PRAGMA table_info('Salaries')")
cols = cursor.fetchall()
for col in cols:
    print(col[1])

[('Salaries',)]
Id
EmployeeName
JobTitle
BasePay
OvertimePay
OtherPay
Benefits
TotalPay
TotalPayBenefits
Year
Notes
Agency
Status

In [3]:
cursor.execute(" Pragma table_info('Salaries')")
cols = cursor.fetchall()
cols

[(0, 'Id', 'INTEGER', 0, None, 1),
 (1, 'EmployeeName', 'TEXT', 0, None, 0),
 (2, 'JobTitle', 'TEXT', 0, None, 0),
 (3, 'BasePay', 'NUMERIC', 0, None, 0),
 (4, 'OvertimePay', 'NUMERIC', 0, None, 0),
 (5, 'OtherPay', 'NUMERIC', 0, None, 0),
 (6, 'Benefits', 'NUMERIC', 0, None, 0),
 (7, 'TotalPay', 'NUMERIC', 0, None, 0),
 (8, 'TotalPayBenefits', 'NUMERIC', 0, None, 0),
 (9, 'Year', 'INTEGER', 0, None, 0),
 (10, 'Notes', 'TEXT', 0, None, 0),
 (11, 'Agency', 'TEXT', 0, None, 0),
 (12, 'Status', 'TEXT', 0, None, 0)]

- the first query shows all the tables in the sqlite_master database
- the second query extracts the table information i.e., column names,type, etc
- so we are extracting only the column names from the table info

### Read the code above. Write observations here, i.e. what the code is trying to do..
.
.

In [4]:
# Reading the data from database and storing it in the dataframe

df = pd.read_sql_query("""SELECT * FROM Salaries""", conn)
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,,326373.19,326373.19,2011,,San Francisco,

## Q_sample: Who is getting the maximum salary?

In [5]:
# SQLite Implementation

output = pd.read_sql_query("""SELECT MAX(TotalPay) FROM Salaries""", conn)
output

   MAX(TotalPay)
0      567595.43

In [6]:
# Pandas Implementation - 1

max(df.TotalPay)

567595.43

In [7]:
# Pandas Implementation - 2
# Syntax - dataframe.loc[row, index]

df.loc[df.TotalPay == max(df.TotalPay), ['TotalPay']]

    TotalPay
0  567595.43

<h3>
If you observe the above output, it is giving the maximum salary. 

Inorder to understand who is getting the maximum salary look at the next cell. 

Also try to map Pandas .loc syntax with the SQL SELECT Query.
</h3>

In [8]:
# SQLite Implementation

output = pd.read_sql_query("""SELECT * 
                            FROM Salaries 
                            WHERE TotalPay = (SELECT MAX(TotalPay) FROM Salaries)""", conn)
output

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0,400184.25,,567595.43,567595.43,2011,,San Francisco,

In [9]:
# Pandas Implementation

df.loc[df.TotalPay == max(df.TotalPay)]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,,567595.43,567595.43,2011,,San Francisco,

## Now try and answer below mentioned questions using SQL and equivalent Pandas Queries:

1. Retrieve the top 8 rows from the table.
2. What is the average TotalPay?
3. What is the highest amount of BasePay in the dataset?
4. What is the Job title of 'NATHANIEL FORD'?
5. How much 'TotalPayBenefits' is made by 'NATHANIEL FORD'?
6. What was the average (mean) TotalPay of all employees per year? (Output for each year from 2011 to 2014 separately)
7. How many unique jobs are there?
8. What are the top 5 most common jobs?
9. How many people have the word Chief in their job title?



Reference - https://www.sqlitetutorial.net

### 1. Retrieve the top 8 rows from the table.

#### sqlite query

In [10]:
output = pd.read_sql_query("""SELECT  * FROM Salaries limit 8""", conn)
output

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,,326373.19,326373.19,2011,,San Francisco,
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,,316285.74,316285.74,2011,,San Francisco,
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,,315981.05,315981.05,2011,,San Francisco,
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,,307899.46,307899.46,2011,,San Francisco,

#### pandas query

In [11]:
df.head(8)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,,326373.19,326373.19,2011,,San Francisco,
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602,8601,189083,,316285.74,316285.74,2011,,San Francisco,
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492,89062.9,134426,,315981.05,315981.05,2011,,San Francisco,
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256577,0,51322.5,,307899.46,307899.46,2011,,San Francisco,

### 2. What is the average TotalPay?

#### sql query

In [12]:
output = pd.read_sql_query("""SELECT  avg(TotalPay) FROM Salaries """, conn)
output

   avg(TotalPay)
0   74768.321972

#### Pandas

In [13]:
df["TotalPay"].mean()

74768.321971703

In [14]:
df.loc[:,"TotalPay"].mean()

74768.321971703

### 3. What is the highest amount of BasePay in the dataset?

#### sql query

In [15]:
output = pd.read_sql_query("""SELECT  max(BasePay) FROM Salaries WHERE BasePay != "Not Provided" and BasePay != '' """, conn)
output

   max(BasePay)
0     319275.01

#### Pandas

In [16]:
basepay=[val for val in df[df["BasePay"].notnull()]["BasePay"] if type(val) != str ]
pd.Series(basepay).max()

319275.01

### 4. What is the Job title of 'NATHANIEL FORD'?

#### sql query

In [17]:
output = pd.read_sql_query("""SELECT  JobTitle FROM Salaries WHERE EmployeeName = "NATHANIEL FORD" """, conn)
output

                                         JobTitle
0  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY

#### Pandas

In [18]:
df.loc[df["EmployeeName"] == "NATHANIEL FORD","JobTitle"]

0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
Name: JobTitle, dtype: object

In [19]:
df[df["EmployeeName"] == "NATHANIEL FORD"]["JobTitle"]

0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
Name: JobTitle, dtype: object

In [20]:
df.query("EmployeeName == 'NATHANIEL FORD'")["JobTitle"]

0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
Name: JobTitle, dtype: object

### 5. How much 'TotalPayBenefits' is made by 'NATHANIEL FORD'?

In [21]:
output = pd.read_sql_query("""SELECT  TotalPayBenefits FROM Salaries WHERE EmployeeName = "NATHANIEL FORD" """, conn)
output

   TotalPayBenefits
0         567595.43

In [22]:
df.loc[df["EmployeeName"] == "NATHANIEL FORD","TotalPayBenefits"]

0    567595.43
Name: TotalPayBenefits, dtype: float64

In [23]:
df[df["EmployeeName"] == "NATHANIEL FORD"]["TotalPayBenefits"]

0    567595.43
Name: TotalPayBenefits, dtype: float64

### 6.  What was the average (mean) TotalPay of all employees per year? (Output for each year from 2011 to 2014 separately)

#### sql query

In [24]:
avg_pay_2011 = pd.read_sql_query("""SELECT  avg(TotalPay) FROM Salaries WHERE Year=2011 """, conn)
avg_pay_2011

   avg(TotalPay)
0   71744.103871

In [25]:
avg_pay_2012 = pd.read_sql_query("""SELECT  avg(TotalPay) FROM Salaries WHERE Year=2012 """, conn)
avg_pay_2012

   avg(TotalPay)
0   74113.262265

In [26]:
avg_pay_2013 = pd.read_sql_query("""SELECT  avg(TotalPay) FROM Salaries WHERE Year=2013 """, conn)
avg_pay_2013

   avg(TotalPay)
0   77611.443142

In [27]:
avg_pay_2014 = pd.read_sql_query("""SELECT  avg(TotalPay) FROM Salaries WHERE Year=2014 """, conn)
avg_pay_2014

   avg(TotalPay)
0    75463.91814

#### pandas query

In [28]:
df.loc[df["Year"] == 2011,["TotalPay"]].mean()

TotalPay    71744.103871
dtype: float64

In [29]:
df.loc[df["Year"] == 2012,["TotalPay"]].mean()

TotalPay    74113.262265
dtype: float64

In [30]:
df.loc[df["Year"] == 2013,["TotalPay"]].mean()

TotalPay    77611.443142
dtype: float64

In [31]:
df.loc[df["Year"] == 2014,["TotalPay"]].mean()

TotalPay    75463.91814
dtype: float64

### 7. How many unique jobs are there?

In [32]:
pd.read_sql_query("""SELECT  Count(Distinct JobTitle) FROM Salaries """, conn)

   Count(Distinct JobTitle)
0                      2159

In [33]:
df["JobTitle"].nunique()

2159

### 8. What are the top 5 most common jobs?

In [34]:
pd.read_sql_query("""Select Count(JobTitle), JobTitle
                        From Salaries
                        Group By JobTitle
                        Order by Count(JobTitle) Desc limit 5  """, conn)

   Count(JobTitle)                      JobTitle
0             7036              Transit Operator
1             4389                 Special Nurse
2             3736              Registered Nurse
3             2518  Public Svc Aide-Public Works
4             2421              Police Officer 3

In [35]:
df["JobTitle"].value_counts()[:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

### 9. How many people have the word Chief in their job title?

In [36]:
pd.read_sql_query("""Select Count(*) From Salaries where JobTitle like '%Chief%' """, conn)

   Count(*)
0       627

In [37]:
count=0
for job in df["JobTitle"]:
    if "chief" in job.lower():
        count+=1
print(count)

627

### Exploratory Data Analysis

In [38]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,,326373.19,326373.19,2011,,San Francisco,

In [39]:
import numpy as np

In [40]:
df=df.replace('',np.nan)
df=df.replace('Not Provided',np.nan)

In [41]:
df.shape

(148654, 13)

In [42]:
100*(df.isnull().sum()/df.shape[0])

Id                    0.000000
EmployeeName          0.001345
JobTitle              0.000000
BasePay               0.409676
OvertimePay           0.002691
OtherPay              0.002691
Benefits             24.326961
TotalPay              0.000000
TotalPayBenefits      0.000000
Year                  0.000000
Notes               100.000000
Agency                0.000000
Status               74.357232
dtype: float64

In [43]:
df["Benefits"].unique()

array([         nan, 4.443012e+04, 6.981019e+04, ..., 2.200000e-01,
       1.300000e-01, 1.240000e+00])

- we are deleting the **Notes** column because it has 100% Missing values, **Status** has 74% missing values, **Id**, is just a unique number and used for purpose of indexing only , so does not contribute much to the analysis, similarly "**EmployeeName**" is not necessary for the Analysis since, Total Pay in no way depends upon name of a employee.

In [44]:
df.drop(["Notes","Status","Id","Status"],axis=1,inplace=True)

In [48]:
#df.drop(["EmployeeName"],axis=1,inplace=True)

In [45]:
import seaborn as sns

In [47]:
sns.scatterplot(x="EmployeeName",y="TotalPay",data=df)

Error in callback <function flush_figures at 0x0000019633B85AF0> (for post_execute):

KeyboardInterrupt: